<div class="col-xs-12 col-md-6 col-lg-4">
	<div class="card">
		{% if post.thumbnail %}
			<a href="{{ path('post.show', {slug: post.slug}) }}">
				<img src="{{ vich_uploader_asset(post.thumbnail, 'imageFile') }}" alt="{{ post.thumbnail.imageName }}" class="card-img-top">
			</a>
		{% endif %}

		<div class="card-body">
			<h4 class="card-title my-4">{{ post.title|capitalize }}</h4>
			<p class="card-text">{{ post.content|u.truncate(160, '...', false)  }}</p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
		</div>
        
		<div class="card-footer bg-white">
            <a href="#" class="btn btn-primary">Lire plus</a>
		</div>
	</div>
</div>
